name: flutter_microsoft_clarity
description: "A Flutter plugin for integrating Microsoft Clarity analytics into your application."
version: 1.0.0
homepage: https://github.com/cesarmod2017/flutter_microsoft_clarity

environment:
  sdk: '>=3.4.3 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.dev.flutter_microsoft_clarity
        pluginClass: FlutterMicrosoftClarityPlugin
      ios:
        pluginClass: FlutterMicrosoftClarityPlugin
